{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div style="margin:3%;">
        <div class="mb-4" style="padding: 1%;">
            <a href="{{ path('app_question_show', {'id': derniere_question.id}) }}" class="question-link">
                <div class="questions position-relative">
                    <div class="category-label position-absolute">{{ derniere_question.Category.name }}</div>
        
                    <div class="row g-0 d-flex align-items-center">
                        <div class="col-md-4">
                            <img src="uploads/images/{{ derniere_question.image }}" class="img-fluid rounded-start last-question-image" alt="Image pour {{ derniere_question.title }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body last-question-element">
                                <div class="d-flex align-items-center fs-4 mb-2">
                                    <p class="mb-0 fw-bold">{{ derniere_question.Category.name }}</p>
                                    <p class="mb-0 fw-bold px-2">.</p>
                                    <p class="mb-0">
                                        {% set elapsedTime = now.timestamp - derniere_question.publicationDate.timestamp %}
        
                                        {% set timeText = '' %}
                                        {% set timeValue = 0 %}
        
                                        {% if elapsedTime < 60 %}
                                            {% set timeText = 'seconde' %}
                                            {% set timeValue = elapsedTime %}
                                        {% elseif elapsedTime < 3600 %}
                                            {% set timeText = 'minute' %}
                                            {% set timeValue = elapsedTime // 60 %}
                                        {% elseif elapsedTime < 86400 %}
                                            {% set timeText = 'heure' %}
                                            {% set timeValue = elapsedTime // 3600 %}
                                        {% elseif elapsedTime < 604800 %}
                                            {% set timeText = 'jour' %}
                                            {% set timeValue = elapsedTime // 86400 %}
                                        {% elseif elapsedTime < 2592000 %}
                                            {% set timeText = 'semaine' %}
                                            {% set timeValue = elapsedTime // 604800 %}
                                        {% elseif elapsedTime < 31536000 %}
                                            {% set timeText = 'mois' %}
                                            {% set timeValue = elapsedTime // 2592000 %}
                                        {% else %}
                                            {% set timeText = 'an' %}
                                            {% set timeValue = elapsedTime // 31536000 %}
                                        {% endif %}
        
                                        {{ timeValue }}
                                        {{ timeText }}
                                        {% if timeValue > 1 %}s
                                        {% endif %}
                                    </p>
                                </div>
                                <h5 class="card-title">{{ derniere_question.title }}</h5>
                                <p class="card-text fs-4 text-custom">{{ derniere_question.Answer|length }} réponses - par {{ derniere_question.user.username }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <h1 class="section-title">Dernières questions</h1>
        
        <div class="row">
            {% for question in dernieres_questions %}
                <div class="col-md-4 mb-4">
                    <a href="{{ path('app_question_show', {'id': question.id}) }}" class="question-link">
                        <div class="questions position-relative">
                            <div class="category-label position-absolute">{{ question.category.name }}</div>
        
                            <img class="questions-image img-fluid w-100" src="uploads/images/{{ question.image }}" alt="Image pour {{ question.title }}">
                            <p>{{ question.title }}</p>
                            <p class="text-custom">
                                {{ question.Answer|length }} réponses - par {{ question.user.username }} -
                                {% set minutes = (now|date('U') - question.publicationDate|date('U')) // 60 %}
                                Il y a
                                {% set elapsedTime = now.timestamp - question.publicationDate.timestamp %}
        
                                {% set timeText = '' %}
                                {% set timeValue = 0 %}
        
                                {% if elapsedTime < 60 %}
                                    {% set timeText = 'seconde' %}
                                    {% set timeValue = elapsedTime %}
                                {% elseif elapsedTime < 3600 %}
                                    {% set timeText = 'minute' %}
                                    {% set timeValue = elapsedTime // 60 %}
                                {% elseif elapsedTime < 86400 %}
                                    {% set timeText = 'heure' %}
                                    {% set timeValue = elapsedTime // 3600 %}
                                {% elseif elapsedTime < 604800 %}
                                    {% set timeText = 'jour' %}
                                    {% set timeValue = elapsedTime // 86400 %}
                                {% elseif elapsedTime < 2592000 %}
                                    {% set timeText = 'semaine' %}
                                    {% set timeValue = elapsedTime // 604800 %}
                                {% elseif elapsedTime < 31536000 %}
                                    {% set timeText = 'mois' %}
                                    {% set timeValue = elapsedTime // 2592000 %}
                                {% else %}
                                    {% set timeText = 'an' %}
                                    {% set timeValue = elapsedTime // 31536000 %}
                                {% endif %}
        
                                {{ timeValue }}
                                {{ timeText }}
                                {% if timeValue > 1 %}s{% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        

		<h1 class="section-title">Meilleurs auteurs</h1>

		<div class="d-flex justify-content-between flex-wrap my-3">
			{% for auteur in meilleurs_auteurs %}
				<div class="authors-ranking">
					<p class="authors-ranking-number">{{ loop.index }}</p>
					<div>
						<p class="authors-ranking-name">{{ auteur.firstname }}
							{{ auteur.lastname }}</p>
						<p class="authors-ranking-question">{{ auteur.Question|length }}
							questions</p>
					</div>
				</div>
			{% endfor %}
		</div>


		<h1 class="section-title">Dans la thématique “Sport”</h1>

		<div class="row" style="margin: 2% 0;">
			{% for question in sportQuestions %}
				<div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ path('app_question_show', {'id': question.id}) }}" class="question-link">
                        <div class="questions position-relative">
                            <div class="category-label position-absolute">{{ question.category.name }}</div>
                            <img class="questions-image img-fluid" src="uploads/images/{{ question.image }}" alt="Image pour {{ question.title }}">
                            <p>{{ question.title }}</p>
                            <p class="text-custom">
                                {{ question.Answer|length }}
                                réponses - Par
                                {{ question.user.firstName }}
                                {{ question.user.lastName }}
                                - Il y a
                                {% set elapsedTime = now.timestamp - question.publicationDate.timestamp %}

                                {% set timeText = '' %}
                                {% set timeValue = 0 %}

                                {% if elapsedTime < 60 %}
                                    {% set timeText = 'seconde' %}
                                    {% set timeValue = elapsedTime %}
                                {% elseif elapsedTime < 3600 %}
                                    {% set timeText = 'minute' %}
                                    {% set timeValue = elapsedTime // 60 %}
                                {% elseif elapsedTime < 86400 %}
                                    {% set timeText = 'heure' %}
                                    {% set timeValue = elapsedTime // 3600 %}
                                {% elseif elapsedTime < 604800 %}
                                    {% set timeText = 'jour' %}
                                    {% set timeValue = elapsedTime // 86400 %}
                                {% elseif elapsedTime < 2592000 %}
                                    {% set timeText = 'semaine' %}
                                    {% set timeValue = elapsedTime // 604800 %}
                                {% elseif elapsedTime < 31536000 %}
                                    {% set timeText = 'mois' %}
                                    {% set timeValue = elapsedTime // 2592000 %}
                                {% else %}
                                    {% set timeText = 'an' %}
                                    {% set timeValue = elapsedTime // 31536000 %}
                                {% endif %}

                                {{ timeValue }}
                                {{ timeText }}
                                {% if timeValue > 1 %}s
                                {% endif %}

                            </p>
                        </div>
                    </a>
				</div>
			{% endfor %}
		</div>


		<h1 class="section-title">Questions aléatoires</h1>

		<div class="row">
			{% if randomQuestions|length > 0 %}
				{% set firstQuestion = randomQuestions[0] %}
				<div class="col-lg-6 mb-4">
                    <a href="{{ path('app_question_show', {'id': firstQuestion.id}) }}" class="question-link">
                        <div class="p-3">
                            <img class="img-fluid w-100 mb-3" src="uploads/images/{{ firstQuestion.image }}" alt="Image pour {{ firstQuestion.title }}">
                            <p>{{ firstQuestion.title }}</p>
                            <p class="text-custom">{{ firstQuestion.Answer|length }}
                                réponses - Par
                                {{ firstQuestion.user.firstName }}
                                {{ firstQuestion.user.lastName }}
                                - Il y a
                                {% set elapsedTime = now.timestamp - firstQuestion.publicationDate.timestamp %}

                                {% set timeText = '' %}
                                {% set timeValue = 0 %}

                                {% if elapsedTime < 60 %}
                                    {% set timeText = 'seconde' %}
                                    {% set timeValue = elapsedTime %}
                                {% elseif elapsedTime < 3600 %}
                                    {% set timeText = 'minute' %}
                                    {% set timeValue = elapsedTime // 60 %}
                                {% elseif elapsedTime < 86400 %}
                                    {% set timeText = 'heure' %}
                                    {% set timeValue = elapsedTime // 3600 %}
                                {% elseif elapsedTime < 604800 %}
                                    {% set timeText = 'jour' %}
                                    {% set timeValue = elapsedTime // 86400 %}
                                {% elseif elapsedTime < 2592000 %}
                                    {% set timeText = 'semaine' %}
                                    {% set timeValue = elapsedTime // 604800 %}
                                {% elseif elapsedTime < 31536000 %}
                                    {% set timeText = 'mois' %}
                                    {% set timeValue = elapsedTime // 2592000 %}
                                {% else %}
                                    {% set timeText = 'an' %}
                                    {% set timeValue = elapsedTime // 31536000 %}
                                {% endif %}

                                {{ timeValue }}
                                {{ timeText }}
                                {% if timeValue > 1 %}s
                                {% endif %}
                            </p>
                        </div>
                    </a>
				</div>

				<div class="col-lg-6 d-flex flex-wrap">
					{% for question in randomQuestions[1:5] %}
						<div class="col-6 p-2">
                            <a href="{{ path('app_question_show', {'id': question.id}) }}" class="question-link">
                                <div class="p-3 h-100">
                                    <img class="img-fluid w-100 mb-2" src="uploads/images/{{ question.image }}" alt="Image pour {{ question.title }}">
                                    <p>{{ question.title }}</p>
                                    <p class="text-custom">{{ question.Answer|length }}
                                        réponses - Par
                                        {{ question.user.firstName }}
                                        {{ question.user.lastName }}
                                        - Il y a
                                        {% set elapsedTime = now.timestamp - question.publicationDate.timestamp %}

                                        {% set timeText = '' %}
                                        {% set timeValue = 0 %}

                                        {% if elapsedTime < 60 %}
                                            {% set timeText = 'seconde' %}
                                            {% set timeValue = elapsedTime %}
                                        {% elseif elapsedTime < 3600 %}
                                            {% set timeText = 'minute' %}
                                            {% set timeValue = elapsedTime // 60 %}
                                        {% elseif elapsedTime < 86400 %}
                                            {% set timeText = 'heure' %}
                                            {% set timeValue = elapsedTime // 3600 %}
                                        {% elseif elapsedTime < 604800 %}
                                            {% set timeText = 'jour' %}
                                            {% set timeValue = elapsedTime // 86400 %}
                                        {% elseif elapsedTime < 2592000 %}
                                            {% set timeText = 'semaine' %}
                                            {% set timeValue = elapsedTime // 604800 %}
                                        {% elseif elapsedTime < 31536000 %}
                                            {% set timeText = 'mois' %}
                                            {% set timeValue = elapsedTime // 2592000 %}
                                        {% else %}
                                            {% set timeText = 'an' %}
                                            {% set timeValue = elapsedTime // 31536000 %}
                                        {% endif %}

                                        {{ timeValue }}
                                        {{ timeText }}
                                        {% if timeValue > 1 %}s
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>Aucune question disponible pour le moment.</p>
			{% endif %}
		</div>


	</div>


	<style>

		.last-question-image {
			width: 100%;
			max-width: 400px;
			height: auto;
			flex: 0 0 100%;
		}

		@media(min-width: 768px) {
			.last-question-image {
				flex: 0 0 40%;
			}
		}

		.last-question-element {
			flex: 1;
		}


		.section-title {
			margin-top: 3%;
			font-size: 300%;
			font-weight: 600
		}


		.img-responsive {
			width: 30vw;
			max-width: 100%;
			height: auto;
		}
		.text-custom {
			color: #AD0569;
		}


		.category-label {
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: #AD0569;
			color: white;
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 0.9rem;
			z-index: 1;
		}

		.questions-image {
			border-radius: 5px;
			width: 100%;
			height: auto;
		}

		.questions {
			background-color: #f8f9fa;
			padding: 15px;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}

		@media(max-width: 768px) {
			.category-label {
				font-size: 0.8rem;
				padding: 3px 8px;
			}

			.questions-text,
			.text-custom {
				font-size: 0.9rem;
			}
		}

		@media(max-width: 576px) {
			.questions {
				padding: 10px;
			}

			.questions-text,
			.text-custom {
				font-size: 0.8rem;
			}
		}


		.authors-ranking {
			display: flex;
			align-items: center;
		}
		.authors-ranking-number {
			font-size: 500%;
			font-weight: 500;
			color: #AD0569;
			margin: 0;
		}
		.authors-ranking-name {
			font-size: 200%;
			font-weight: 600;
			margin: 0;
			text-wrap: nowrap;
		}
		.authors-ranking-question {
			font-size: 150%;
			margin: 0;
			text-wrap: nowrap;
		}

		.main-random-questions-questions {
			display: flex;
			flex-direction: column;
			margin: 0 2%;
		}
		.main-random-questions-questions-text {
			font-size: 150%;
			margin: 2% 0;
			width: 24vw;
			max-width: 100%;
		}
		.main-random-questions-image {
			width: 40vw;
			max-width: 100%;
			height: auto;
		}
	</style>
{% endblock %}
