{% block footer %}
    <div class="footer mx-auto py-3">
        <div style="border-bottom: solid 1px black">
            <h1 style="color: #AD0569;">LiveQuestion</h1>
            <p>Échangez autour de vos thématiques préférées</p>
        </div>
        {% if app.user %}
            <div class="d-flex justify-content-between" style="margin: 2% 0;">
                <a href="{{ path('app_question_index', {'category': 'Sport'}) }}">Sport</a>
                <a href="{{ path('app_question_index', {'category': 'Politique'}) }}">Politique</a>
                <a href="{{ path('app_question_index', {'category': 'Santé'}) }}">Santé</a>
                <a href="{{ path('app_question_index', {'category': 'Business'}) }}">Business</a>
                <a href="{{ path('app_question_index', {'category': 'Musique'}) }}">Musique</a>
                <a href="{{ path('app_question_index', {'category': 'Film'}) }}">Film</a>
                <a href="{{ path('app_question_index', {'category': 'Jeux-vidéo'}) }}">Jeux-vidéo</a>
            </div>
        {% endif %}
    </div>

    <style>
        .footer a:hover {
            color: #AD0569 !important;
        }
    </style>
{% endblock %}
